
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### eclipse ###
*/target/**
/bin/

*.log
.idea/.gitignore
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml


### intellij ###
*.iml
.idea/**